---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import TechGrid from "../components/TechGrid.astro";
---

<Layout
	title="Gedeon Sainrival"
	description="Portfolio Website of Gedeon Sainrival (gedeondoescode)"
>
	<div class="flex flex-col">
		<Heading>Hi, I'm Gedeon.</Heading>
		<div class="space-y-2">
			<h2 class="font-black text-3xl mt-4">About me</h2>
			<p class="mt-2">
				I'm a nineteen year old college student and web developer from South
				Florida. I love working with some of the most popular tools when it
				comes to making frontend and full stack applications such as
				<a href="https://prisma.io">Prisma,</a>
				<a href="https://nextjs.org">Next.js,</a>
				<a href="https://tailwindcss.com">TailwindCSS</a>
				and many more! I've been creating frontend interfaces almost consistently
				for the past two years and have improved and shown my skill by volunteering
				over at <a href="https://schoolsimplified.org">School Simplified</a> where
				I create pages that students across the world can use to gain access to various
				educational resources as well as take part in events thrown together and
				hosted by the community.
			</p>
		</div>
		<div class="space-y-2">
			<h2 class="font-black text-3xl mt-4">Tech Used</h2>
			<p class="mt-2">
				As aforementioned, I use a variety of different tools and libraries,
				primarily in the Node.js ecosystem, to help me achieve my goals for each
				project however they may be. Down below is a list of those tools that I
				have learned or have used in the past when creating web apps.
			</p>
		</div>

		<TechGrid />
	</div>
</Layout>
